@model IEnumerable<Transport.Models.ZahtjevLokacija>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdLokacijaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdZahtjevNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdLokacijaNavigation.Ulica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdZahtjevNavigation.Opis)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <form asp-action="Delete" asp-route-id="@item.Id" method="post">
                    <input type="hidden" name="IdMisija" value="@item.Id" />
                    <button type="submit" class="delete btn-link" title="Delete">Obriši</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
